#id9
{	background-color: #000;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id13
{	background-color: #1C140D;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id21
{	background-color: #38291c;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id23
{	background-color: #81503c;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id6
{	background-color: #83a149;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id14
{	background-color: #87bf0b;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id25
{	background-color: #9b9c9a;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id22
{	background-color: #A0A8AE;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id8
{	background-color: #C0D860;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id2
{	background-color: #CAFF42;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id16
{	background-color: #CBE86B;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id18
{	background-color: #F2E9E1;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id19
{	background-color: #a7a6a6;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id1
{	background-color: #e3c35d;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id12
{	background-color: #fdff00;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id10
{	background-color: #ff2f2f;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
#id15
{	background-color: #ffffff;
			padding:30px;
			font-family: Arial;
			font-size: 16px;
			text-decoration: none;
			color: black;}
body
	{
			background-color: black;
		}
